body {
  background-color: #161a1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  border: 1px solid aliceblue;
  width: 400px;
  max-height: 400px;
  box-sizing: content-box;
}
